.ca_link:link, .ca_link:visited {
    background-color: #333;
    color: #74787D;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    margin: 5px 0px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    font-weight: bold;
    border: 1px solid #74787D;
}

.ca_link:hover, .ca_link:active {
    background: #ffffff;
    color: #000000;
    border-color: rgb(0, 0, 0);
    border-width: 1px;
    border-style: solid;
}

.abt_us_footer_fix {
    font-style: normal;
}

.gallery-sec-pad {
    padding: 0px 5px 35px;
}

.col-sm-6.text-right > img {
    margin-top: 40px;
}

.header-logo-img {
    padding-bottom: 5px;
}

@media (min-width:1200px) {
    div.container.clearfix {
        width: 1070px;
    }
}

.abt-us-img {
    margin-top: 20px;
    border-radius: 5px;
    border: #74787D 5px solid;
    box-shadow: 5px 5px 5px #74787D;
}

/* Under-Dev Page */
.under-dev {
    text-align: center;
    margin-top: 100px;
}

.under-dev body html {
    height: 100%;
}

/* Position text in the middle */
.middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.under-dev-bg {
    background-color: #000000;
    color: #ffffff;
}
