/* Under-Dev Page */
.under-dev {
    text-align: center;
    margin-top: 100px;
}

.under-dev body html {
    height: 100%;
}

/* Position text in the middle */
.middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.under-dev-bg {
    background-color: #000000;
    color: #ffffff;
}

.under-dev-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #000000;
    color: white;
    text-align: center;
}
